@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

/*
font-family: 'Montserrat',
sans-serif;
font-family: 'Roboto',
sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

a {
    display: inline-block;
    transition: all .4s;
    text-decoration: none;
}

img {
    display: block;
}

h1,
h2 {
    font-size: 42px;
    line-height: 1.2;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.brown_button {
    background: #9A8464;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 22px 40px;
    min-width: 300px;
    text-align: center;
}

.brown_button:hover {
    background: #776244;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2F2E2F;
    padding-top: 20px;
    padding-bottom: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

header a {
    color: #fff;
}

header a:not(.logo):hover {
    opacity: .6;
}

header .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    height: 160px;
}

header ul {
    list-style: none;
    display: flex;
    padding-left: 260px;
}

header ul a {
    padding-left: 15px;
    padding-right: 15px;
}

header .transparent_button {
    padding: 12px 50px;
    font-size: 14px;
    letter-spacing: 0.02em;
    border: 1px solid #fff;
}

.banner {
    background-image: url(images/image%2036.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 146px;
}

.banner .container {
    display: flex;
    align-items: center;
}

.banner .left {
    width: 50%;
    color: #191719;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner .right {
    width: 50%;
}

.banner h1 {
    margin-bottom: 18px;
}

.banner p {
    font-size: 22px;
    margin-bottom: 28px;
}

.about_us {
    padding-bottom: 130px;
    display: flex;
    align-items: flex-end;
}

.about_us .left {
    width: 50%;
    padding-right: 80px;
    position: relative;
}

.about_us .left::before {
    content: '';
    width: 50vw;
    z-index: -1;
    height: 50%;
    background: #2F2E2F;
    position: absolute;
    bottom: 0;
    right: 100%;
    transform: translateX(200px);
}

.about_us .right {
    width: 50%;
    padding-left: 80px;
}
