*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    
}
img{
    display: block;
    width: 100%;
    height: 100%;
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,150px);
    grid-gap:20px;
}
.grid .grid_el:first-child{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid .grid_el:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end:3;
}
.grid .grid_el:nth-child(3){
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end:5;
}
.grid .grid_el:nth-child(4){
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end:3;
}
.grid .grid_el:nth-child(5){
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end:3;
}
.grid .grid_el:last-child{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end:5;
}