@media screen and (max-width:1100px) {
    h2 {
        font-size: 36px;
    }

    header ul {
        padding-left: 200px;
    }

    .about_us .left {
        padding-right: 40px;
    }

    .about_us .right {
        padding-left: 40px;
    }
}

@media screen and (max-width:992px) {
    header ul {
        position: fixed;
        right: 0;
        flex-direction: column;
        top: 84px;
        background: #2F2E2F;
        padding: 40px;
        height: calc(100vh - 84px);
        transform: translateX(100%);
        transition: all .4s;
    }

    header ul.active {
        transform: translateX(0);
    }

    header ul a {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    header .container {
        justify-content: center;
    }

    header .burger {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .burger span {
        width: 40px;
        height: 1px;
        background-color: #fff;
        position: relative;
        transition: all .4s;
    }

    header .burger.active span {
        width: 0;
    }

    header .burger span::before,
    header .burger span::after {
        content: '';
        width: 40px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 0;
        transition: all .4s;
    }

    header .burger span::before {
        transform: translateY(-9px) translateX(-50%);
    }

    header .burger.active span::before {
        transform: translateY(0) translateX(-50%) rotate(45deg);
    }

    header .burger span::after {
        transform: translateY(9px) translateX(-50%);
    }

    header .burger.active span::after {
        transform: translateY(0) translateX(-50%) rotate(-45deg);
    }

    .banner .container {
        flex-wrap: wrap;
    }

    .banner .left,
    .banner .right,
    .about_us .left,
    .about_us .right {
        width: 100%;
    }

    .banner {
        padding-top: 200px;
    }

    .banner .left {
        align-items: center;
        margin-bottom: 30px;
        text-align: center;
    }

    .banner .right {
        display: flex;
        justify-content: center;
    }

    .banner img {
        max-width: 500px;
    }

    .about_us {
        flex-direction: column-reverse;
        padding-bottom: 0;
    }

    .about_us .right {
        padding-left: 0;
        padding-top: 60px;
    }

    .about_us .left {
        display: flex;
        justify-content: center;
    }

    .about_us .left img {
        max-width: 500px;
    }

}

@media screen and (max-width:600px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    header .logo {
        width: 60px;
        height: 60px;
    }

    header .logo img {
        width: 100%;
    }

    header ul {
        width: 100%;
        align-items: center;
    }

    .banner {
        padding-top: 120px;
    }

    .banner p {
        font-size: 16px;
    }

    .about_us h2 {
        margin-bottom: 16px;
    }

    .about_us p {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .about_us .transparent_button {
        margin-top: 10px;
    }
}
