@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
     max-width: 1693px;
    margin-left: 130px;
    margin-right: auto; /* если ставить margin 283px как в макете то в связи с рвзмером моего экрана контейнер налазит на контейнер  */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: rgba(196, 196, 196, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header a{
    text-decoration: none;
    color: #717784;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
header .logo{
    display: flex;
    align-items: center;
    
}
header .logo img{
    margin-right: 21px;
    
}
header .dream {
     font-family: 'Roboto', sans-serif;
}
header ul{
    list-style: none;
    display: flex;
    padding-right: 29px;
}
header .navigation{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
header ul a{
    padding-left: 29px;
    padding-right: 29px;
}
header button{
    background: #9B9BCA;
    border-radius: 10px; 
    border: none;
    outline: none;
    color: aliceblue;
    padding: 15px 60px;
    margin-right: 194px;  
}
 

 .maine button{
    background: #9B9BCA;
    border-radius: 10px; 
    border: none;
    color: aliceblue;
    padding: 15px 60px;
     outline: none;
}
section{
    background-image: url(../images/Rectangle%202.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 737px;
    padding-bottom:247px;
    display: flex;
    align-items: flex-end;
}
section h1{
    color: #696A86;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
}
section p{
    color: #696A86;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
button {
	transform-style: preserve-3d;
}
button :after {
	top: -100%;
	left: 0;
	width: 100%;
	position: absolute;
	background:  #FF0000;
	border-radius: 5px;
	content: 'Flipped';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

button:hover {
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}