@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

a {
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 34px 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header ul {
    display: flex;
    list-style: none;
}

header ul a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 19px;
    color: #171717;
    text-decoration: none;
    transition: all .4s;
}

header ul a:hover {
    color: #C9A96E;
}

.banner {
    width: 100%;
    height: 700px;
    background-image: url(../images/Your%20image%20here.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.banner .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 59px;
}

.banner p {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.banner h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner .items {
    display: flex;
    list-style: none;
}

.banner .items li {
    padding-right: 20px;
    font-size: 14px;
    line-height: 19px;
}

.banner .items li span {
    opacity: .5;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
}

.wrapper .wrap {
    display: flex;
    flex-direction: column;
    width: calc(33.3333% - 63px);
    align-items: center;
    position: relative;
}

.wrapper h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: fit-content;
    margin-bottom: 55px;
}

.wrapper h3 span {
    font-size: 150px;
    line-height: 1;
    color: rgba(1, 153, 109, 0.2);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.second{
    padding-top: 60px;
}
.wrapper p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #424242;
    margin-bottom: 40px;
}
.wrapper img{
    display: block;
    width: 100%;
}
.wrapper .wrap:nth-child(2){
    padding-top: 120px;
}
.wrapper .icon{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 80px;
    background: #b1b1b1;
    border-radius: 100%;
    transform: translateX(-50%) translateY(50%);
    transition: all .4s ease-in-out;
}
.wrapper .wrap:hover .icon{
    transform: translateX(-50%) translateY(50%) scale(1.5);
}



















.wrapper img {
    display: block;
    width: 100%
}
.wrapper .wrap:nth-child(2){
    padding-top: 120px;
}

.wrapper.item{
    position: absolute;
    bottom: 0;
    left: 50%;
    width : 80%;
    background: #b1b1b1;
    border-radius: 100%;
    transform: translateX(-50%)translateY(50%)
    transition :all .4s case-in-out;
    
}
.wrapper .wrap:hover .icon {
    transform: 
}




