*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

a{
    display: inline-block;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 116px;
    left: 0px;
    top: 0px;
    padding-left: 245px;
    padding-right: 242px;
    background-size: cover;
    position: fixed;
}

header ul{
    list-style: none;
    display: flex;
    justify-items: flex-end;
}

header ul a{
    transition: all .4s;
}

header ul a:hover, header span a:hover{
    color: antiquewhite;
}

.logo{
    width: 79px;
    height: 60px;
    left: 245px;
    top: 31px;
    }

header span a{
    width: 126px;
    height: 26px;
    left: 338px;
    top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #505050;
    text-decoration: none;
    margin-left: 14px;
     transition: all .4s;
}

header div{
    display: flex;
    justify-items: center;
    align-items: center; 
}

header button{
    height: 60px;
    width: 234px;
    left: 1124px;
    top: 31px;
    border-radius: 10px;
    background: #4C4C81;
    border: none;
}

header button span{
    width: 101px;
    height: 27px;
    left: 1191px;
    top: 47px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    }

a button span{
    width: 101px;
    height: 27px;
    left: 1191px;
    top: 47px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    }

header img{
    width: 79px;
    height: 60px;
    left: 245px;
    top: 31px;
    }

.header_ul li a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #717784;
    text-decoration: none;
    padding-left: 58px;
    }

section{
    display: flex;
    align-items: center;
    justify-items: end;
    
}

section a img{
    width: 100%;
    height: 737px;
    left: -3px;
    top: 0px;
    background: url(.jpg);
}

.banner_1{
    width: 100%;
    height: 737px;
    background-image: url(../img/Rectangle%202.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 3px;
    top: 0px;
    display: flex;
    align-items: flex-end;
    
}

.banner{
    margin-bottom: 112px;
    margin-left: 242px;
}


.banner .text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section h1{
    width: 548px;
    height: 112px;
    left: 245px;
    top: 312px;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 100%;
    color: #696A86;
    margin-bottom: 30px;
}

section p{
    width: 751px;
    height: 81px;
    left: 245px;
    top: 454px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #696A86;
    margin-bottom: 30px;
}

section button{
    width: 234px;
    height: 60px;
    left: 245px;
    top: 565px;
    background: #4C4C81;
    border-radius: 10px;
    border: none;
}

section button span{
    width: 103px;
    height: 27px;
    left: 311px;
    top: 582px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.HM2{
    display: block;
}

.b2_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b2_title{
    justify-content: center;
    padding-top: 100px;
}

.b2_title h2{
    width: 322px;
    height: 39px;
    left: 639px;
    top: 5047px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
}

.b2_title p{
    width: 660px;
    height: 60px;
    left: 430px;
    top: 5098px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #626780;
    text-align: center;
}

.section_HM2 h3{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 100%;
}

.section2_HM2 p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #626780
}



